.gradle
/local.properties
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ related
*.iml
.idea/*
!/.idea/icon.svg
!/.idea/runConfigurations/
/.idea/runConfigurations/*

# Firebase
**/google-services.json

# Generated
*.apk
*.aab

# Room schema (tracked for migration testing)
# **/schemas/
